@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 576px) {
        padding: 50px;
    }
}

.head_bar > img {
    width: 80px;
    height: 80px;
}

.head_bar__title {
    color: #E74646;
}

.vector > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/* Input Section */
.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: none !important;
    background-color: #FFF3E2;
}

.input_section > h2 {
    text-align: center;
    color: #E74646;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    border: solid 2px #E74646;
    outline: none;
    color: #E74646;
}

.input_section > form > .input > label {
    color: #E74646;
    font-weight: bold;
}

.input_section > form > .input_inline > label {
    color: #E74646;
    font-size: 14px;
    @media screen and (min-width: 576px) {
        font-size: 16px;
    }
}

.input_section > form > .input_inline > .form-check-input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border: solid 2px #E74646;
    cursor: pointer;
}
.input_section > form > .input_inline > .form-check-input[type='checkbox']:checked {
    background-color: #E74646;
    border: none;
}

.input_section > form > button {
    background-color: #E74646;
    color: white;
    border: solid 2px #E74646;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button:hover {
    color: #E74646;
    background-color: #FFF3E2;
    border: solid 2px #E74646;
}



/* Search Section */
.search_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_section > h4 {
    color: #E74646;
}

.search_section > form {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
}

.search_section > form > input {
    width: 150%;
    border: solid 3px #E74646;
    background: #FFF;
    outline: none;
    color: #E74646;
}

::placeholder {
    font-weight: 450;
    color: #E74646 !important;
    opacity: .5;
}

.search_section > form > button {
    width: 60px;
    background-color: #E74646;
    color: #FFF;
    border: 0;
}



/* Bookshelf */
.book_shelf {
    margin: 16px 0 0 0;
    background-color: #FFF3E2;
}

.book_shelf > h2 {
    color: #E74646;
}

.book_shelf > .book_list {
    /* padding: 16px; */
}

.book_shelf > .book_list > .book_item {
    padding: 20px;
    background-color: #FFF;
    border-left: solid 6px #E74646;
    border-radius: 10px;
    margin: 20px 0;
}

.book_shelf > .book_list > .book_item > h3 {
    font-weight: bold;
    color: #E74646;
    text-align: center;
}

.book_shelf > .book_list > .book_item > p {
    font-weight: bolder;
    color: #E74646;
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px 0;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    font-weight: bolder;
    background-color: #1F6E8C;
    border: solid 3px #1F6E8C;
    color: #FFF;
}

.book_shelf > .book_list > .book_item > .action > .green:hover {
    background-color: #FFF;
    color: #1F6E8C;
    border: solid 3px #1F6E8C;
}

.book_shelf > .book_list > .book_item > .action > .red {
    font-weight: bolder;
    background-color: #E74646;
    border: solid 3px #E74646;
    color: #FFF;
}

.book_shelf > .book_list > .book_item > .action > .red:hover {
    background-color: #FFF;
    color: #E74646;
    border: solid 3px #E74646;
}



footer p a {
    color: #E74646;
}

footer p a:hover {
    color: #1F6E8C;
    text-decoration: underline !important;
}